.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999999999999999999999999999999999999;
  pointer-events: none;
  display: flex;
  justify-content: flex-end;
}

.notification-place {
  padding-top: 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 99999999999999999999999999999999999999;
  align-items: flex-end;
  width: 100vw;
  height: 100%;
  /* background-color: red; */
}

/* .notification {
  position: relative;
  right: -100%;
  z-index: 0;
  width: 100%;
  height: 100px;
  background-color: blue;
  margin: 10px;
  transition-duration: 0.3s;
  transition-property: left, top;
} */

/* .pop-up {
    right: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
    transition-property: top;
    transition-duration: 0.3s;
    border-radius: 5px;
    overflow: hidden;
}

.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
}

.indicator {
    height: 3px;
    width: 100%;
    background-color: rgba(154, 76, 249, 0.7);


} */
