:root {
	--common-back-color: #f6f8fa;
	--common-back-color-2: #ffffff;

	--teacher-main-color: #06603b;
	--teacher-main-color-2: #38735a;
	--teacher-main-color-3: #064f32;
	--teacher-main-color-op: #caf1d8;
	--teacher-main-color-op-2: #ecfdf3;
	--teacher-highlight-color: #ffa800;
	--teacher-warning-color: #d94a4a;
	--teacher-gray-color: #6e6f71;
	--teacher-gray2-color: #d9d9d9;
	--teacher-blue-color: #4b7cc6;
	--teacher-coupon-color: #ef5b5b;

	--teacher-h1: 2rem;
	--teacher-h2: 1.6rem;
	--teacher-h3: 1.3rem;
	--teacher-h4: 1.1rem;
	--teacher-h5: 0.95rem;
	--teacher-h6: 0.75rem;
	--student-main-color-soft: #fffdf2;
	--student-main-color: #fffae2;
	--student-main-color-2: #ffebb9;
	--student-main-color-3: #ffdb60;
	--student-main-color-4: #ffcd00;
	--student-main-color-5: #ff9f00;
	--student-main-color-6: #e36a00;
	--student-main-color-7: #fff6cb;
	--student-font-color: #3d2f21;
	--student-wrapper-color: #ffffff;

	--student-side-bar-width: 280px;
	--student-full-width: calc(100vw - var(--student-side-bar-width) - var(--student-side-bar-width));

	@media (max-width: 1280px) {
		--student-full-width: calc(100vw - var(--student-side-bar-width));
	}

	@media (min-width: 1281px) {
		--student-full-width: calc(100vw - var(--student-side-bar-width) - var(--student-side-bar-width));
	}
	/* --student-gray-color: #00000099;
    --student-gray-color-2: #000000b3;
    --student-input-gray-color: #e3e8ef80;
    --student-input-gray-color-2: #e3e8ef;
    --student-blur-color: #4d4d4d80;
    --student-warning-color: #d94a4a;
    --student-warning-color-2: #d94a4a33;
    --student-red-color: #cb1400;
    --student-blue-color: #dce4f8;
    --student-highlight-color: #ffa800;
    --student-font-color: #3D2F21; */

	--student-h1: 1.6rem;
	--student-h2: 1.25rem;
	--student-h3: 0.95rem;
	--student-h4: 0.75rem;
	--student-h5: 0.6rem;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	background-color: var(--common-back-color);
	font-family: "SUIT";

	line-height: 1;

	/* overflow-x: hidden; */
	/* overflow: hidden; */
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

button {
	border: none;
	cursor: pointer;
}

* {
	font-family: "SUIT";
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background-color: initial;
	border-radius: 10px;
}
